* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-width: 700px;
  min-height: 500px;
  border-radius: 5%;
  margin: auto;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  background-color: #666;
  border: 5px solid rgb(255, 255, 255);
  font-size: 80px;
  color: #ffffffe8;
  border-radius: 10%;
}

#player {
  padding: 1rem;
}

body {
  display: flex;
  background:black url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg) no-repeat
    center center/cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
